# If local.py is present, any settings in it will override those in base.py and dev.py.
# Use this for any settings that are specific to this one installation, such as developer API keys.
# local.py should not be checked in to version control.

# Include your own Spotify client ID and secret, and Last.fm key and secret

import os
from .base import PROJECT_ROOT

SPOTIFY = {
    'client_id': 'your_client_id',
    'client_secret': 'your_client_secret',
}

LASTFM = {
    'key': 'your_key',
    'secret': 'your_secret',
}