html {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

body {
    color: #1b1b1b;
}

.main {
    margin: 0 20px;
}

header {
    position: relative;
    margin: 30px 0 50px;
    font-size: 35px;
}

header:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.14em;
    width: 100%;
    height: 3px;
    background-color: #1b1b1b;
}

h1 {
    text-align: center;
    font-weight: normal;
    background: #fff;
    display: inline;
    position: relative;
    padding-right: 0.3em;
    margin-right: 0.6em;
    line-height: 1;
    vertical-align: text-bottom;
    font-size: 1em;
}

h2 {
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 12px;
}

.step-disabled {
    color: #aaa;
}

.step {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 30px;
}

.step h2 {
    display: inline;
    font-size: inherit;
}

.step-links {
    margin: 0;
    display: inline;
}

.step-counter {
    display: block;
    color: #aaa;
}

.instruction {
    display: block;
}

.sp-connect-form p {
    margin: 6px 0 12px;
}

/* .visuallyhidden */
.sp-connect-form label,
.result-list thead {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.step-error,
.errorlist {
    margin: 6px 0 0;
    color: #f33;
}

.errorlist {
    margin-bottom: 12px;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 12px;
}


/* ==========================================================================
   Mapping
   ========================================================================== */

.mapping {
    margin-bottom: 36px;
}

.track {
    float: left;
    width: 80%;
}

.date-saved {
    float: right;

    width: 20%;
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 12px;
    line-height: 22px;
    text-align: right;
    color: #666;
}

.result-status {
    clear: left;
}

.result-status--pending,
.result-status--searching,
.result-status--retrying {
    background: url('/static/images/loading.gif') 0 50% no-repeat;
    padding-left: 35px;
}

.result-status--revoked {
    color: red;
}


/* Result list
   ========================================================================== */

.result-select      { width: 5%;    }
.result-track-name  { width: 55%;   }
.result-loved       { width: 15%;   text-align: right; }
.result-listeners   { width: 20%;   text-align: right; }
.result-link        { width: 5%;    text-align: right; }

.result-list {
    margin-bottom: 12px;
    position: relative;
    width: 100%;
    text-align: left;
}

.result {
    margin-bottom: 0;
    width: 100%;
}

.result-listeners,
.result-loved {
    font-size: 12px;
}

.result-loved {
    color: red;
}

.result-listeners {
    color: #666;
}

.result-link {
    font-weight: bold;
}

.result-link a {
    text-decoration: none;
}

.result-link a:hover,
.result-link a:focus {
    text-decoration: underline;
}

/* Toggle more
   ========================================================================== */

.toggle-more-toggle {
    position: relative;
    display: block;
    width: 100%;

    color: #1b1b1b;
    text-align: center;
    text-decoration: none;
}

.toggle-more-toggle:hover,
.toggle-more-toggle:focus {
    text-decoration: underline;
}

.toggle-more-toggle span {
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    background: #fff;
}

.toggle-more-toggle span:before {
    content: "";
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 0;
    left: 0;

    margin-top: 12px;
    border-bottom: 1px solid #aaa;
}


/* Submit
   ========================================================================== */

.sumbit-loved {
    margin-bottom: 2em;
}



@media (min-width: 400px) {

    .main {
        margin: 0 40px;
    }

}

@media (min-width: 450px) {

    .main {
        padding-left: 100px;
    }

    .step-counter {
        float: left;
        margin-left: -100px;
    }
}

@media (min-width: 550px) {

    header {
        font-size: 45px;
    }

    .sp-connect-form p {
        display: inline-block;
        margin-bottom: 0;
    }
}

@media (min-width: 650px) {

    header {
        font-size: 60px;
    }
}

@media (min-width: 780px) {

    .main {
        margin: 0 auto;
        width: 600px;
    }

    .instruction {
        display: inline;
    }

    .sp-connect-form p {
        margin: 0;
    }

    .sp-connect-form {
        display: inline;
    }
}

.hide {
    display: none;
}
