Django==1.6.5
psycopg2==2.5.2
pyspotify==2.0.0b2
-e hg+https://tdhooper@bitbucket.org/tdhooper/lfm@configure-api-root-1.1.1#egg=lfmh
celery==3.1.11
django-celery==3.1.10
South==1.0
pytest==2.5.2
pytest-django==2.6.2
-e git+git://github.com/joohoi/spotipy.git#egg=spotipy
