{% extends "base.html" %}

{% block content %}

        {% if lfmUsername %}
            <h2>Step 1: Connected to Last.fm as <strong>{{lfmUsername}}</strong>
            {% if not spUsername %}
                (<a href="{{lfmDisconnectUrl}}">disconnect</a>)</h2>
            {% endif %}    
        {% else %}
            <h2>Step 1: {% if lfmConnectFailure %}<em class="error-text">Authentication failed</em> {% endif %}<a href="{{lfmConnectUrl}}">Connect to Last.fm</a></h2>
        {% endif %}
            
        {% if spUsername %}
            <h2>Step 2: Connected to Spotify as <strong>{{spUsername}}</strong> (<a href="{{spDisconnectUrl}}">disconnect</a>)</h2>
        {% elif spForm %}
            <h2 class="sp-connect-heading">Step 2: Connect to Spotify:</h2>
            <form action="{{spConnectUrl}}" method="POST" class="sp-connect-form">
                {% csrf_token %}
                {{spForm.as_p}}
                <input type="submit" />
            </form>
        {% else %}
            <h2 class="sp-connect-heading step-disabled">Step 2: Connect to Spotify</h2>
        {% endif %}

        {% if not tracks %}
            <h2 class="step-disabled">Step 3: Select tracks</h2>
        {% else %}
            <h2>Step 3: Select tracks</h2>
            <ul>
            {% for item in tracks %}
                <li>
                    <pre>
{{ item }}
                    </pre>
                    <strong>{{item.spotify_track.artist_name}} - {{item.spotify_track.track_name}}</strong> - {{item.spotify_track.date}}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

{% endblock %}