{% extends "base.html" %}

{% load humanize %}

{% block content %}

        <div class="step">
            {% if lfmUsername %}
                <h2>
                    <span class="step-counter">Step 1:</span>
                    <span class="instruction">Connected to Last.fm as</span>
                    <strong>{{lfmUsername}}</strong>
                </h2>
                <p class="step-links">
                    {% if not spUsername %}
                        <a href="{{lfmDisconnectUrl}}">disconnect</a>
                    {% else %}
                        <a href="{% url 'reload_lastfm' %}">reload loved tracks</a>
                    {% endif %}
                </p>
            {% else %}
                <h2>
                    <span class="step-counter">Step 1:</span>
                    <a href="{{lfmConnectUrl}}">Connect to Last.fm</a>
                </h2>
                {% if lfmConnectFailure %}
                    <p class="step-error">Authentication failed</p>
                {% endif %}
            {% endif %}
        </div>
            
        <div class="step">
            {% if spUsername %}
                <h2>
                    <span class="step-counter">Step 2:</span>
                    <span class="instruction">Connected to Spotify as</span>
                    <strong>{{spUsername}}</strong>
                </h2>
                <p class="step-links">(<a href="{{spDisconnectUrl}}">disconnect</a>)</p>
            {% elif spForm %}
                <h2 class="sp-connect-heading">
                    <span class="step-counter">Step 2:</span>
                    Connect to Spotify:
                </h2>
                <form action="{{spConnectUrl}}" method="POST" class="sp-connect-form">
                    {% csrf_token %}
                    {{spForm.as_p}}
                    <input type="submit" />
                </form>
            {% else %}
                <h2 class="sp-connect-heading step-disabled">
                    <span class="step-counter">Step 2:</span>
                    Connect to Spotify
                </h2>
            {% endif %}
        </div>
        
        <div class="step">
            <h2 {% if not mappings %}class="step-disabled"{% endif %}>
                <span class="step-counter">Step 3:</span>
                Select tracks
            </h2>
        </div>

        {% if mappings %}
            <form action="{% url 'love_tracks' %}" method="post">
                {% csrf_token %}
                <ul class="js-results-list" data-csrf-token="{{ csrf_token }}">
                    {% for mapping in mappings %}
                        <li>
                            <h3 class="track">
                                {{mapping.track.artist_name}} - {{mapping.track.track_name}}
                            </h3>
                            <p class="date-saved" title="{{ mapping.track.added }}">
                                {{ mapping.track.added|naturalday:"j M Y" }}
                            </p>
                            {% include 'result.html' %}
                        </li>
                    {% endfor %}
                </ul>

                <button class="sumbit-loved" type="submit">Love selected tracks</button>
            </form>

            <script>
                require(['jquery', 'live-results'], function($, LiveResults) {
                    $el = $('.js-results-list');
                    var liveResults = new LiveResults($el, 'result-update');
                    liveResults.start();
                });
            </script>
        {% endif %}

{% endblock %}