{% load staticfiles %}
<script src="{% static 'js/lib/bower_components/requirejs/require.js' %}"></script>
<script>
    require.config({
        baseUrl: '{% static 'js' %}',
        paths: {
            'jquery': 'lib/bower_components/jquery/dist/jquery.min',
            'lib/jasmine': 'lib/bower_components/jasmine/lib/jasmine-core/jasmine',
            'lib/jasmine-html': 'lib/bower_components/jasmine/lib/jasmine-core/jasmine-html',
            'Squire': 'lib/bower_components/squire/src/Squire',
            'backbone': 'lib/bower_components/backbone/backbone',
            'underscore': 'lib/bower_components/underscore/underscore'
        },
        map: {
            '*': {
                'jquery': 'lib/shim/jquery',
                'underscore': 'lib/shim/underscore',
                'backbone': 'lib/shim/backbone'
            },
            'lib/shim/jquery': {'jquery': 'jquery'},
            'lib/shim/underscore': {'underscore': 'underscore'},
            'lib/shim/backbone': {'backbone': 'backbone'}
        },
        shim: {
            'lib/jasmine': {
                exports: 'jasmineRequire'
            },
            'lib/jasmine-html': {
                deps: ['lib/jasmine'],
                exports: 'jasmineRequire'
            }
        }
    });
</script>