{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.0</title>
    {% with jasminecore='js/lib/bower_components/jasmine/lib/jasmine-core/' %}
        <link rel="shortcut icon" type="image/png" href="{% static jasminecore|add:'jasmine_favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static jasminecore|add:'jasmine.css' %}">
    {% endwith %}

    {% include 'requirejs.html' %}
    
    <script type="text/javascript">
        require(['jasmine/boot'], function() {
            require({{ specs|safe }}, function(spec) {
                window.executeTests();
            });
        });
    </script>
</head>

<body>
</body>
</html>
